.font-10 {
  font-size: 1.0em !important;
}
.font-9 {
  font-size: 0.9em !important;
}
.font-8 {
  font-size: 0.8em !important;
}
.font-7 {
  font-size: 0.7em !important;
}
.font-6 {
  font-size: 0.6em !important;
}
.font-5 {
  font-size: 0.5em !important;
}
.font-4 {
  font-size: 0.4em !important;
}
.font-3 {
  font-size: 0.3em !important;
}
.font-2 {
  font-size: 0.2em !important;
}
.font-1 {
  font-size: 0.1em !important;
}

iframe {
  height: 500px;
}